.gradle/
.gradle/*
*/.gradle/*

build/
build/*
*/build/*

.settings/
.settings/*
*/.settings/*

bin/
bin/*
*/bin/*

doc/
doc/*
*/doc/*

logs/
logs/*
*/logs/*

run/
run/*
*/run/*

.classpath
*/.classpath

.project
*/.project

.idea
*/.idea

node_modules/

*.launch

# exclude generated resource
BlueMapCommon/src/main/resources/de/bluecolored/bluemap/webapp.zip
BlueMapCore/src/main/resources/de/bluecolored/bluemap/*/resourceExtensions.zip

#exclude-test-data
data/test-render
