.gradle/
build/
.settings/
bin/
doc/
logs/
.run/
run/
node_modules/

.classpath
.project
.idea

*.launch

# exclude generated resource
BlueMapCommon/src/main/resources/de/bluecolored/bluemap/webapp.zip
BlueMapCore/src/main/resources/de/bluecolored/bluemap/*/resourceExtensions.zip

#exclude-test-data
data/test-render
