.bluemap-container .ui .ui-element.button {
    cursor: pointer;
    user-select: none;

    > .label {
        margin: 0 0.5rem;
    }

    &.icon {
        flex-grow: 0;

        > .label {
            display: none;
        }
    }

    &:hover {
        background-color: $hover_bg;
        color: $hover_fg;
    }

    &:active {
        background-color: $active_bg;
        color: $active_fg;
    }

    > img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        filter: invert(1);
    }
}