.bluemap-container .ui .ui-element {
    position: relative;

    min-width: 2rem;
    min-height: 2rem;
    line-height: 2rem;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
