.bluemap-container .ui .ui-element.slider {

    display: flex;
    align-content: stretch;

    > input {
        box-sizing: border-box;
        width: 100%;
        fill: linear-gradient(90deg, rgba(0,104,255,1) 0%, rgba(0,245,255,1) 100%);

        padding: 0;
        margin: 0 0.5rem;
    }

    > .label {
        margin: 0 0.5rem;

        min-width: 4rem;
        flex-grow: 0;

        text-align: right;
    }

}