.bluemap-container .ui {
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p {
        padding: 0;
        margin: 0.5rem 0 0 0;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;

        width: 1.5rem;
        height: 1.5rem;

        margin: 0.25rem;

        font-weight: bold;

        &::after, &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            width: 0.8rem;
            height: 0.2rem;

            background-color: $light_fg;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover::after, &:hover::before {
            background-color: darkred;
        }
    }

    .alert-box {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        pointer-events: none;

        .alert {
            position: relative;

            pointer-events: all;

            background-color: $normal_bg;
            padding: 1rem;

            margin: 1rem;
        }
    }

}