// colors
$normal_fg: white;
$normal_bg: rgb(70, 70, 70);

$label_fg: rgb(200, 200, 200);

$hover_fg: $normal_fg;
$hover_bg: rgb(80, 80, 80);

$active_fg: $label_fg;
$active_bg: rgb(60, 60, 60);

$line_color: rgb(100, 100, 100);

// breakpoints
$super-small-max: 500px;
$small-max: 800px;
$middle-max: 1200px;