// colors
$normal_fg: #333;
$normal_bg: #fff;

$label_fg: #666;

$hover_fg: $normal_fg;
$hover_bg: #aaa;

$active_fg: $normal_bg;
$active_bg: $normal_fg;

$line_color: #aaa;

// breakpoints
$super-small-max: 500px;
$small-max: 800px;
$middle-max: 1200px;