@import "./modules/alertbox.scss";
@import "./modules/compass.scss";
@import "./modules/info.scss";
@import "./modules/mapmenu.scss";
@import "./modules/position.scss";
@import "./modules/settings.scss";

html, body {
    margin: 0;
    padding: 0;

	font-size: 15px;
	line-height: 15px;
    font-family: Verdana,Helvetica,Arial,sans-serif;

	color: #333333;
	background-color: #dddddd;
}

.box {
    color: #333333;
    background-color: white;
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.8);
}

.button {
    background-color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #333333;
    color: #dddddd;
}

.dropdown-container {
    background-color: white;
	position: relative;

    transition: all 0.3s;
}

.dropdown-container:hover {
    background-color: #dddddd;
}

.dropdown-container > .dropdown {
    position: absolute;
    background-color: white;
    color: #333333;
    width: 100%;

	overflow: hidden;

	transition: all 0.3s;
	max-height: 0px;
}

.dropdown-container:hover > .dropdown {
    max-height: 200px;
    border-color: #ddddddFF;
}

.dropdown-container > .dropdown > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown-container > .dropdown > ul > li {
	cursor: pointer;
}

.dropdown-container > .dropdown > ul > li:hover {
	color: #dddddd;
	background-color: #333333;
}

#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
  }

#map-container canvas {
    width: 100%;
    height: 100%;
}

#bluemap-loading {
    position: absolute;
    width: 200px;
    line-height: 20px;
    padding: 20px 0;
    top: calc(50% - 31px);
    left: calc(50% - 101px);
    text-align: center;
}

#bluemap-topright {
    position: absolute;
    top: 10px;
    right: 10px;

    line-height: 30px;

    display: flex;
}

#bluemap-topright > *:not(:last-child) {
    border-right: solid 1px #dddddd;
}

#bluemap-topleft {
    position: absolute;
    top: 10px;
    left: 10px;

    line-height: 30px;

    display: flex;
}

#bluemap-topleft > *:not(:last-child) {
    border-right: solid 1px #dddddd;
}
