.bluemap-container .hud-info {
    pointer-events: none;
}

.bluemap-container .hud-info .bubble {
    transform: translate(0, calc(-50% - 0.5rem));

    background-color: $normal_bg;
    filter: drop-shadow(1px 1px 3px #0008);

    white-space: nowrap;

    .content {
        position: relative;

        > .label {
            min-height: 0;
            font-size: 0.8rem;
            padding: 0.5rem 0.5rem 0 1rem;
            line-height: 0.8rem;
            color: $label_fg;
            border-top: solid 1px $line_color;

            &:first-child {
                border-top: none;
            }
        }

        > * {
            padding: 0.5rem;
        }

        .coords {
            display: flex;
            justify-content: center;

            > .coord {
                margin: 0 0.2rem;
                padding: 0 0.2rem;

                border-radius: 0.2rem;

                //background-color: #ccc;

                > .label {
                    color: $label_fg;
                    margin-right: 0.2rem;

                    &::after {
                        content: ':';
                    }
                }
            }
        }

        > .files {
            border-top: solid 1px $line_color;
            font-size: 0.8rem;
            line-height: 0.8rem;
            color: $label_fg;
        }

        &::after {
            content: '';

            position: absolute;
            bottom: calc(-1rem + 1px);
            left: calc(50% - 0.5rem);

            width: 0;
            height: 0;

            border: solid 0.5rem;
            border-color: $normal_bg transparent transparent transparent;
        }
    }
}

.bluemap-container .marker-poi, .bluemap-container .marker-player {
    pointer-events: none;

    > * {
      pointer-events: auto;
    }

    > img {
        filter: drop-shadow(1px 1px 3px #0008);
    }
}

.bluemap-container .marker-player {
    img {
        width: 32px;
        height: 32px;

        image-rendering: pixelated;
        image-rendering: crisp-edges;

        transition: all 0.3s;
    }

    .nameplate {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -110%);
        background: rgba(50, 50, 50, 0.75);
        padding: 0.2em 0.3em;
        color: white;

        transition: all 0.3s;
    }

    &.distant {
        img {
            width: 16px;
            height: 16px;
        }

        .nameplate {
            opacity: 0;
        }
    }
}