.bluemap-container .ui .ui-element.position {
    flex-basis: 6rem;
    flex-shrink: 1;
    min-width: 4rem;

    display: flex;

    height: 1rem;

    > input {
        width: calc(100% - 2rem);
        height: 100%;
        padding: 0 0.5rem 0 0;

        font: inherit;
        color: inherit;
        background: transparent;

        border: none;
        outline: none;

        // remove number spinner firefox
        -moz-appearance:textfield;

        // remove number spinner webkit
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[data-axis]::before {
        padding: 0 0.2rem 0 0.5rem;
        line-height: 2rem;
        color: $label_fg;
        content: attr(data-axis)':';
    }
}